{% extends 'user/user_base.html' %}
{% block title %}change-password - Hot Tracks{% endblock %}

{% block content %}
{% load static %}  
<div class="page-wrapper">
           
    <!--Body Container-->
    <div id="page-content">
        <!--Collection Banner-->
        <div class="collection-header">
            <div class="collection-hero">
                <div class="collection-hero__image"></div>
                <div class="collection-hero__title-wrapper container">
                    <h1 class="collection-hero__title">My Account</h1>
                    <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="{% url 'user_home' %}" title="Back to the home page">Home</a><span>|</span><span class="fw-bold">Change Your Password</span></div>
                </div>
            </div>
        </div>
        <!--End Collection Banner-->

        <!--Container-->
        <div class="container">
            <!--Main Content-->
            <div class="row">
                <div class="box col-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 my-2 my-lg-5">
                    <form method="post" action="{% url 'change_password' %}" accept-charset="UTF-8" class="customer-form">  
                        {% csrf_token %}
                        <h3 class="h4 text-uppercase mb-2">Change your password</h3>
                        <p>Use the form below to change your password.</p>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CurrentPassword" class="d-none">Current Password <span class="required">*</span></label>
                                    <input type="password" name="old_password" placeholder="Current Password" id="CurrentPassword" required />
                                </div>
                                <div class="form-group">
                                    <label for="NewPassword" class="d-none">New Password <span class="required">*</span></label>
                                    <input type="password" name="new_password1" placeholder="New Password" id="NewPassword" required />
                                    <small class="form-text text-muted">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces or special characters.</small>
                                </div>
                                <div class="form-group">
                                    <label for="Verify" class="d-none">Verify <span class="required">*</span></label>
                                    <input type="password" name="new_password2" placeholder="Verify" id="Verify" required />
                                    <small class="form-text text-muted">To confirm, type the new password again.</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="d-flex-center">
                                    <input type="submit" class="btn rounded me-auto" value="Change Password">
                                    <a href="{% url 'view_address' %}"><i class="align-middle icon an an-an-double-left me-2"></i>Back To Address Page</a>
                                </p>
                            </div>
                        </div>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->

    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
    <!--End Scoll Top-->

    <div class="modalOverly"></div>

    <!-- Including Jquery -->
    <script src="{% static 'assets/js/vendor/jquery-min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/js.cookie.js' %}"></script>
    <!--Including Javascript-->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</div>

{% endblock %}
