{% extends 'user/user_base.html' %}
{% block title %}shop - Hot Tracks{% endblock %}

{% block content %}
{% load static %}

 <!--Main Content-->
 <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
    <!--Active Filters-->
    <ul class="active-filters d-flex flex-wrap align-items-center m-0 list-unstyled d-none">
        <li><a href="#">Clear all</a></li>
        <li><a href="#">Men <i class="an an-times-l"></i></a></li>
        <li><a href="#">Neckalses <i class="an an-times-l"></i></a></li>
        <li><a href="#">Accessories <i class="an an-times-l"></i></a></li>
    </ul>
    <!--End Active Filters-->


    <!--Product Grid-->
    <div class="grid-products grid--view-items shop-grid-5 prd-grid">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 item">
                <!--Start Product Image-->
                <div class="product-image">
                    <!--Start Product Image-->
                    <a href="product-layout1.html" class="product-img">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="{% static 'assets/images/products/product-1.jpg' %}" src="{% static 'assets/images/products/product-1.jpg' %}" alt="image" title="">
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="{% static 'assets/images/products/product-1-1.jpg' %}" src="{% static 'assets/images/products/product-1-1.jpg' %}" alt="image" title="">
                        <!-- End hover image -->
                    </a>
                    <!--End Product Image-->

                    <!--Countdown Timer-->
                    <div class="saleTime" data-countdown="2024/10/01"></div>
                    <!--End Countdown Timer-->

                    <!--Product Button-->
                    <div class="button-set style0 d-none d-md-block">
                        <ul>
                            <!--Cart Button-->
                            <li><a class="btn-icon btn cartIcon pro-addtocart-popup" href="#pro-addtocart-popup"><i class="icon an an-cart-l"></i> <span class="tooltip-label top">Add to Cart</span></a></li>
                            <!--End Cart Button-->
                            <!--Quick View Button-->
                            <li><a class="btn-icon quick-view-popup quick-view" href="javascript:void(0)" data-toggle="modal" data-target="#content_quickview"><i class="icon an an-search-l"></i> <span class="tooltip-label top">Quick View</span></a></li>
                            <!--End Quick View Button-->
                            <!--Wishlist Button-->
                            <li><a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html"><i class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a></li>
                            <!--End Wishlist Button-->
                            <!--Compare Button-->
                            <li><a class="btn-icon compare add-to-compare" href="compare-style2.html"><i class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a></li>
                            <!--End Compare Button-->
                        </ul>
                    </div>
                    <!--End Product Button-->  
                </div>
                <!--End Product Image-->

               

                    <!--Product Button-->
                    <div class="button-set style0 d-none d-md-block">
                        <ul>
                            <!--Cart Button-->
                            <li><a class="btn-icon btn cartIcon pro-addtocart-popup" href="#pro-addtocart-popup"><i class="icon an an-cart-l"></i> <span class="tooltip-label top">Add to Cart</span></a></li>
                            <!--End Cart Button-->
                            <!--Quick View Button-->
                            <li><a class="btn-icon quick-view-popup quick-view" href="javascript:void(0)" data-toggle="modal" data-target="#content_quickview"><i class="icon an an-search-l"></i> <span class="tooltip-label top">Quick View</span></a></li>
                            <!--End Quick View Button-->
                            <!--Wishlist Button-->
                            <li><a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html"><i class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a></li>
                            <!--End Wishlist Button-->
                            <!--Compare Button-->
                            <li><a class="btn-icon compare add-to-compare" href="compare-style2.html"><i class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a></li>
                            <!--End Compare Button-->
                        </ul>
                    </div>
                    <!--End Product Button-->  
                </div>
                <!--End Product Image-->
                <!--Start Product Details-->
                <div class="product-details text-center">
                    <!--Product Name-->
                    <div class="product-name text-uppercase">
                        <a href="product-layout1.html">Bodysuit Black</a>
                    </div>
                    <!--End Product Name-->
                    <!--Product Price-->
                    <div class="product-price">
                        <span class="price">$149.00</span>
                    </div>
                    <!--End Product Price-->
                    <!--Product Review-->
                    <div class="product-review d-flex align-items-center justify-content-center">
                        <i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-o"></i>
                        <span class="caption hidden ms-2">4 reviews</span>
                    </div>
                    <!--End Product Review-->
                    <!--Sort Description-->
                    <p class="hidden sort-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s specimen book...</p>
                    <!--End Sort Description-->
                    <!--Color Variant-->
                    <ul class="swatches">
                        <li class="swatch medium radius black"><span class="tooltip-label">black</span></li>
                        <li class="swatch medium radius maroon"><span class="tooltip-label">maroon</span></li>
                    </ul>
                    <!--End Color Variant-->
                    <!-- Product Button -->
                    <div class="button-action d-flex">
                        <div class="addtocart-btn">
                            <form class="addtocart" action="#" method="post">
                                <a class="btn pro-addtocart-popup" href="#pro-addtocart-popup"><i class="icon hidden an an-cart-l"></i>Add To Cart</a>
                            </form>
                        </div>
                        <div class="quickview-btn">
                            <a class="btn btn-icon quick-view quick-view-popup" href="javascript:void(0)" data-toggle="modal" data-target="#content_quickview"><i class="icon an an-search-l"></i> <span class="tooltip-label top">Quick View</span></a>
                        </div>
                        <div class="wishlist-btn">
                            <a class="btn btn-icon wishlist add-to-wishlist" href="my-wishlist.html"><i class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a>
                        </div>
                        <div class="compare-btn">
                            <a class="btn btn-icon compare add-to-compare" href="compare.html"><i class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a>
                        </div>
                    </div>
                    <!-- End Product Button -->
                </div>
                <!--End Product Details-->
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 item">
                <!--Start Product Image-->
                <div class="product-image">
                    <!--Start Product Image-->
                    <a href="product-layout1.html" class="product-img">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="{% static 'assets/images/products/product-1.jpg' %}" src="{% static 'assets/images/products/product-1.jpg' %}" alt="image" title="">
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="{% static 'assets/images/products/product-1-1.jpg' %}" src="{% static 'assets/images/products/product-1-1.jpg' %}" alt="image" title="">
                        <!-- End hover image -->
                    </a>
                    <!--End Product Image-->
                    <!--Product Button-->
                    <div class="button-set style0 d-none d-md-block">
                        <ul>
                            <!--Cart Button-->
                            <li><a class="btn-icon btn cartIcon pro-addtocart-popup" href="#pro-addtocart-popup"><i class="icon an an-cart-l"></i> <span class="tooltip-label top">Add to Cart</span></a></li>
                            <!--End Cart Button-->
                            <!--Quick View Button-->
                            <li><a class="btn-icon quick-view-popup quick-view" href="javascript:void(0)" data-toggle="modal" data-target="#content_quickview"><i class="icon an an-search-l"></i> <span class="tooltip-label top">Quick View</span></a></li>
                            <!--End Quick View Button-->
                            <!--Wishlist Button-->
                            <li><a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html"><i class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a></li>
                            <!--End Wishlist Button-->
                            <!--Compare Button-->
                            <li><a class="btn-icon compare add-to-compare" href="compare-style2.html"><i class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a></li>
                            <!--End Compare Button-->
                        </ul>
                    </div>
                    <!--End Product Button-->
                </div>
                <!--End Product Image-->
                <!--Start Product Details-->
                <div class="product-details text-center">
                    <!--Product Name-->
                    <div class="product-name">
                        <a href="product-layout1.html">Sunset Sleep Scarf Top</a>
                    </div>
                    <!--End Product Name-->
                    <!--Product Price-->
                    <div class="product-price">
                        <span class="price">$99.01</span>
                    </div>
                    <!--End Product Price-->
                    <!--Product Review-->
                    <div class="product-review d-flex align-items-center justify-content-center">
                        <i class="an an-star"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i>
                        <span class="caption hidden ms-2">10 reviews</span>
                    </div>
                    <!--End Product Review-->
                    <!--Sort Description-->
                    <p class="hidden sort-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s specimen book...</p>
                    <!--End Sort Description-->
                    <!-- Product Button -->
                    <div class="button-action d-flex">
                        <div class="addtocart-btn">
                            <form class="addtocart" action="#" method="post">
                                <a class="btn pro-addtocart-popup" href="#pro-addtocart-popup"><i class="icon hidden an an-cart-l"></i>Add To Cart</a>
                            </form>
                        </div>
                        <div class="quickview-btn">
                            <a class="btn btn-icon quick-view quick-view-popup" href="javascript:void(0)" data-toggle="modal" data-target="#content_quickview"><i class="icon an an-search-l"></i> <span class="tooltip-label top">Quick View</span></a>
                        </div>
                        <div class="wishlist-btn">
                            <a class="btn btn-icon wishlist add-to-wishlist" href="my-wishlist.html"><i class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a>
                        </div>
                        <div class="compare-btn">
                            <a class="btn btn-icon compare add-to-compare" href="compare.html"><i class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a>
                        </div>
                    </div>
                    <!-- End Product Button -->
                </div>
                <!--End Product Details-->
            </div>
        </div>
    </div>
    <!--End Product Grid-->

    <!--Pagination Classic-->
    <hr class="clear">
    <div class="pagination">
        <ul>
            <li class="prev"><a href="#"><i class="icon align-middle an an-caret-left" aria-hidden="true"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#"><i class="icon align-middle an an-caret-right" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <!--End Pagination Classic-->

    <!-- Collection Description-->
    <div class="collection-description mt-4 pt-2">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard reader dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen the book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <!--End Collection Description-->
</div>
<!--End Main Content-->


{% endblock %}